.body {
    font-size: 16px;
}
.container {
    position: absolute;
    height: 90vh;
    width: 100%;
    /* display: flex; */
    justify-content: center;
}
.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panel {
    height: fit-content;
    /* width: 50%; */
    margin: 0px !important;
    margin-top: 50px !important;
}
.content-layer {
    position: relative;
}
.tip {
    padding: 10px 20px;
    text-align: center;
    background-color: antiquewhite;
    border-bottom: 1px solid lightgray;
    font-size: 15px;
    transition: height 0.3s ease;
    /* height: 90px; */
}
.close-tip {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: smaller;
}
.hide-tip {
    height: 0;
    /*and eventually delay an overflow:auto; */
    overflow:hidden;
    padding: 0;
    border-bottom: none;
}
.content-title {
    padding: 28px;
    border-bottom: 1px solid lightgray;
}
.content-title p {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 500;
    color: #18181899;
    padding: 0 30px;
}
p {
    margin: 0;
}
.authorize {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 40px;
    border-bottom: 1px solid lightgray;
}
.authorize a {
    line-height: unset !important;
    height: unset !important;
    min-width: 150px;
    display: flex;
    align-items: center;
}
.authorize a i {
    font-size: 3.5rem;
}
.authorize a span {
    font-size: 22px;
    font-weight: 500;
}
.loader {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px;
}
.status {
    display: flex;
    justify-content: center;
    padding: 20px
}
.status p {
    font-size: large;

}
.connection {
    display: flex;
    align-items: center;
}
.connection span {
    font-size: 2rem;
}
.dot {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: red;
    margin-right: 10px;
}

.form-inputs {
    padding: 15px 40px;
}
.form-controls {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 30px;
}
@media screen and (max-width: 600px) {
    .authorize a i {
        font-size: 2.5rem;
    }
    .authorize a span {
        font-size: unset;
    }
    .preloader-wrapper {
        width: 30px !important;
        height: 30px !important;
    }
}
.helper-text {
    color: red !important;
}