.search {
    margin-top: 20px;
}
.contact-container {
    padding: 20px;
}
.alphabet {
    padding: 10px 20px;
}
.alpha-name {
    font-size: 2em;
    font-weight: bold;
}
.contact-count {
    margin-left: 15px;
    font-size: 1.25em;
    font-weight: 400;
}
/* .card-container {
    
} */
.contact-card {
    position: relative;
    display: flex;
    cursor: pointer;
    padding: 0 !important;
    /* width: fit-content; */
}
.card-image {
    display: flex;
    align-items: center;
    padding: 24px 10px;
}
.icon-container {
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: large;
    font-weight: 500;
    color: white;
    width: 30px;
    height: 30px;
}
.icon-container img {
    width: 100%;
    border-radius: 100%;
}
.card-content {
    align-items: center;
    display: flex;
    width: -webkit-fill-available;
}
.contact-name {
    font-weight: 500;
    flex: 1;
    font-size: 1.1em;
}
.infograph {
    display: flex;
    justify-content: space-between;
    width: 60px;
    margin-right: 12px;
}
.info_g {
    display: flex;
    align-items: center;
}
.info_g i {
    margin-right: 2px;
}
.icon {
    font-size: 15px;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.info:hover {
    background-color: tomato;
    transition: background 0.5s ease;
}
.contact {
    margin-left: 5px;
}
.row .col {
    padding: 5px 0.75rem;
}
.close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid lightgray;
    border-radius: 100%;
}
.menu {
    display: none;
    position: relative !important;
    top: 0;
    right: 0;
    margin-top: 20px;
}
.btn-floating .small {
    font-size: large !important;
}
.card-content .red i {
    color: white;
}
.menu-item a {
    border-radius: 0;
}
.btn-floating i:hover {
    background-color: #ff8a80;
}
/* Expanded view properties */
.card-expand {
    flex-direction: column;
}
.card-image-expand{
    justify-content: center;
    transition: all 0.3s ease;
    padding-bottom: 10px;
    padding-top: 15px;
}
.icon-container-expand {
    font-size: x-large;
    height: 50px;
    width: 50px;
}
.content-expand {
    flex-direction: column;
    height: fit-content;
    transition: all 0.3s ease;
}
.contact-details {
    display: none;
    flex-direction: column;
    width: -webkit-fill-available;
    align-items: center;
    height: 89px;
    margin-top: 10px;
}
.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.close-expand {
    display: flex;
}

/* Edit */
._e_container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 101;
}
._e_panel {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
    /* padding: 20px; */
    background-color: white;
}
._e_content {
    height: 100%;
    /* height: -webkit-fill-available; */
}
.fixed-content {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
}
.variable-content {
    padding: 20px 5px;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.variables {
    width: 100%;
}
._e_layer {
    position: relative;
    width: 100%;
}
._e_image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
._e_image {
    width: 100px;
    border-radius: 100%;
}
._e_image-container img {
    width: 100%;
    border-radius: 100%;
}
._e_image-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
._e_image-controls a {
    margin: 0px 5px;
}
.change {
    color: #ff1744;
    background-color: white;
}
.change:hover {
    background-color: #f2f0f0;
    color: black;
}
.remove {
    color: white;
    background-color: #ff1744;
}
.remove:hover {
    background-color: #e6002d;
}
.field-box {
    display: flex;
    align-items: center;
}
._e_layer .input-field {
    margin: 20px;
    flex: 1;
}
.side-icon {
    position: relative;
    top: -10px;
    color: #e20909;
    cursor: pointer;
}
._e_controls {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.undo {
    background-color: white;
    color: #ff1744;
}
.undo:hover {
    color: white;
    background-color: #ff1744;
}
.send {
    background-color: teal;
}
.bottom-icon {
    position: relative;
    color: teal;
    left: 12px;
    top: -30px;
}
.button-icon i {
    font-size: unset;
    font-size: xx-large;
}